<!--
<table class='table'>
  <%= @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td>
      <% if @wiki.users.include? user %>
      <%= link_to "Remove Collaborator", '#', class: 'btn btn-info' %>
      <% else %>
      <%= link_to "Add Collaborator", '#', class: 'btn btn-info' %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table> -->
