
<div class="container">
  <div class='jumbotron'>
    <h1>Blocipedia</h1>
    <br/>
    <p class='lead'>Social Wikis––With Markdown</p>
    <br/>
    <br/>
    <div class='btn-group'>
      <%= link_to "Sign Up Today!", new_user_registration_path, class: 'btn-lg btn-success'  %>
      <!-- <%= link_to "Sign In ", new_user_session_path, class: 'btn-lg btn-default'  %> -->
    </div>
  </div>
  <div class="row">

    <div class="col-md-4">
      <h2>New Topics Every Week</h2>
    </div>

    <div class="col-md-4">
      <h2>Share With Your Friends</h2>
    </div>

    <div class="col-md-4">
      <h2>Join the Conversation</h2>
    </div>
  </div>
