<div class="container">

<div class='jumbotron'>
  <h2>Blocipedia: Social, Markdown Wikis</h2>
  <br/>
  <h3>Create and Share Markdown Wikis</h3>
  <br/>
  <br/>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'  %>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary'  %>
  </p>
</div>
</div>
