<h1>Wikis</h1>
<% @wikis.each do |wiki| %>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <!-- To link to a wiki show page -->
      <%= link_to wiki.title, wiki %>
      <!-- To link to the index of wikis -->
      <%= link_to 'Index', wikis_path %>
    </h4>
  </div>
</div>
<% end %>
